



body {
    background-color:rgb(177, 114, 114);

}
thead{
    background-color: brown;
    font-size: 15px;
    text-size: left;
}
.style1{
    background-color: rgb(160, 39, 79);
    color: white;
    padding: 5px;
}
.img-style1{
    border:2px solid #DDD;
            border-radius: 4px;
            padding:5px;
            background-color:white;
            width:150px;
            height:200px;

}
#main{ background-color:palevioletred;

}